* {
	margin: 0;
	padding: 0;
}

textarea {
	display: block;
	resize: none;
	font-size: inherit;
	font-family: sans-serif;
	width: 90%;
	margin: 20px auto;
	padding: 5px;
}

.calendar {
	display: inline-block;
	text-align: center;
}

.calendar * {
	display: inline-block;
	vertical-align: top;
	line-height: 43px;
}

.calendar section {
	width: 315px;
	margin: 10px;
}

.calendar section header h2 {
	background-color: #ccc;
	width: 100%;
}

.calendar section header ul li {
	background: #ddd;
}

.calendar ul li {
	list-style: none;
	width: 43px;
	border: 1px solid #fff;
	cursor: default;
}

.day {
	background: #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
}

.day:hover {
	background: #aaccee;
}

.clicked, .clicked:hover {
	background: #99bbdd;
}

.empty {
	background: #fff;
}

.counter {
	width: 20px;
	line-height: 20px;
	background: #4444ee;
	font-size: 12px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	top: -3px;
	right: -3px;
	z-index: 2;
	display: none;
}
