* {
	margin: 0;
	padding: 0;
}

.calendar {
	display: inline-block;
	text-align: center;
}

.calendar * {
	display: inline-block;
	vertical-align: top;
	line-height: 43px;
}

.calendar section {
	width: 315px;
	margin: 10px;
}

.calendar section header h2 {
	background-color: #ccc;
	width: 100%;
}

.calendar ul li {
	list-style: none;
	width: 43px;
	height: 43px;
	background: #eee;
	border: 1px solid #fff;
	cursor: default;
}

.calendar main ul li:not(.empty):hover {
	background: #aaccee;
}

.calendar section header ul li {
	background: #ddd;
}

.calendar ul li.empty {
	background: #fff;
}
